# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs & caches
*.log
.ruff_cache/
.pytest_cache/

# Distribution
dist/
build/
*.egg-info/
.worktrees/
